ESP_PART=/dev/disk/by-partlabel/ndr-esp
ROOT_PART=/dev/disk/by-partlabel/ndr-rootfs
PERSISTANT_PART=/dev/disk/by-partlabel/ndr-persistant

IMAGE_SERVER=https://images.dev.securedbythem.casadevall.pro/development/latest
BOOT0_IMAGE=$IMAGE_SERVER/bootx64.efi
ROOTFS_IMAGE=$IMAGE_SERVER/rootfs.img.bz2
OTA_TIMESTAMP=$IMAGE_SERVER/ota.timestamp

BUILDROOT_REPO=https://github.com/SecuredByTHEM/ndr-buildroot.git
BUILDROOT_BRANCH=ndr-preboot-2017.02
