[Unit]
Description=TCP Dump Service
After=syslog-ng.service network.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /persistant/tcpdump/all-traffic
ExecStartPre=/bin/chown ndr:ndr -R /persistant/tcpdump
ExecStart=/usr/sbin/tcpdump -w /persistant/tcpdump/all-traffic/all-traffic-%Y-%M-%d_%H.%M.%S.pcap -z /usr/local/bin/ndr-pcap-processor -G 900 -i monitor0 -Z ndr
KillMode=process

[Install]
WantedBy=multi-user.target

